@import url('./variables.css');
@import url('./header.css');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;

    scroll-behavior: smooth;
}
